<div class="container">
    <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="center">
        <mat-tab label="Crear">
            
            <div class="form-container">
                  
                <mat-form-field class="example-form-field">
                    <mat-label>Numero de mesa</mat-label>
                    <input matInput type="text"> 
                </mat-form-field>

                <mat-form-field class="example-form-field">
                    <mat-label>Votos</mat-label>
                    <input matInput type="text">
                </mat-form-field>
                  <button mat-raised-button color="primary">Enviar</button>
            </div>
        </mat-tab>
        <mat-tab label="Actualizar">Content 2</mat-tab>
        <mat-tab label="Buscar">Content 3</mat-tab>
        <mat-tab label="Borrar">Content 3</mat-tab>
      </mat-tab-group>
      
    
</div>
